<!DOCTYPE html>

<html lang="en">
  <head>
    <style>
    img {
      width: 100%;
      height: 100px;
    }
      
    </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>bvj carrer</title>
    <h1>BVJ CAREE</h1>
  </head>
  <body>
    <center>
      Job Openings
    </center>
    <p>Data Analyst</p>
    <button>Apply</button>
    <br>
    <p>Data Scientist</p><br>
    <p>Data Engineer</p><br>
    <p>Data Architect</p><br>
   
  </body>
</html>